.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $cell-gap;
  padding: $calendar-padding;
  width: $calendar-width;
  counter-reset: day;

  &__day {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: $cell-size;
    width: $cell-size;
    background-color: $main-bg-color;
    border: 1px solid black;
    counter-increment: day;

    &::before {
      content: counter(day);
      font-family: $days-text-font;
      font-size: $days-text-size;
    }

    &:hover {
      cursor: pointer;
      background-color: #ffbfcb;
      transform: translate(0, -20px);
      transition-duration: 500ms;
      transition-property: transform, background-color;
    }
  }

  @each $day, $pos in $days {
    &--start-#{$day} {
      &__day:first-child {
        margin-left: ($pos - 1) * ($cell-size + $cell-gap);
      }
    }
  }

  @for $i from 28 through 31 {
    &--month-length-#{$i} {
      &__day:nth-child(n + #{$i + 1}) {
        display: none;
      }
    }
  }
}
