$cell-size: 100px;
$main-bg-color: #eee;
$days-text-font: Arial;
$days-text-size: 30px;
$cell-gap: 1px;
$calendar-padding: 10px;
$columns: 7;
$calendar-width: $columns * $cell-size + ($columns - 1) * $cell-gap + 2 * $calendar-padding;
$days: (
  sun: 1,
  mon: 2,
  tue: 3,
  wed: 4,
  thu: 5,
  fri: 6,
  sat: 7,
);
